@font-face {
    font-family: "Segoe UI Regular";
    src: url("../fonts/SEGOEUI-Regular.woff2") format("woff2"), url("../fonts/SEGOEUI-Regular.woff") format("woff");
}
@font-face {
    font-family: "Segoe UI Bold";
    src: url("../fonts/SEGOEUI-Bold.woff2") format("woff2"), url("../fonts/SEGOEUI-Bold.woff") format("woff");
}
@font-face {
    font-family: "Segoe UI Semibold";
    src: url("../fonts/SEGOEUI-Semibold.woff2") format("woff2"), url("../fonts/SEGOEUI-Semibold.woff") format("woff");
}
@font-face {
    font-family: "Segoe UI Black";
    src: url("../fonts/SEGOEUI-Black.woff2") format("woff2"), url("../fonts/SEGOEUI-Black.woff") format("woff");
}
@font-face {
    font-family: "Segoe UI Light";
    src: url("../fonts/SEGOEUI-Light.woff2") format("woff2"), url("../fonts/SEGOEUI-Light.woff") format("woff");
}
