// Шрифт
$ff-Sr: "Segoe UI Regular";
$ff-Sb: "Segoe UI Bold";
$ff-Ssb: "Segoe UI Semibold";
$ff-Sbl: "Segoe UI Black";
$ff-Sl: "Segoe UI Light";

$fw-Sbl: 800;
$fw-Sb: 700;
$fw-Ssb: 500;
$fw-Sr: 400;
$fw-Sl: 300;

$fz-54: 54px;
$fz-49: 49px;
$fz-35: 35px;
$fz-25: 25px;
$fz-23: 23px;
$fz-20: 20px;
$fz-16: 16px;
$fz-15: 15px;
$fz-13: 13px;

$lh-68: 68px;
$lh-57: 57px;
$lh-40: 40px;
$lh-34: 34px;
$lh-26: 26px;
$lh-22: 22px;
$lh-19: 19px;
$lh-16: 16px;
$lh-15: 15px;
$lh-auto: auto;

$ls-140: 1.4px;
$ls-80: 0.8px;
$ls-20: 0.2px;

$c-1-fcfafa: #fcfafa;
$c-2-fafafb: #fafafb;
$c-3-081325: #081325;
$c-4-084a82: #084a82;
$c-5-6fb1c8: #6fb1c8;
$c-6-fff: #fff;
$c-7-858890: #858890;
$c-8-6f737b: #6f737b;
$c-9-656e7c: #656e7c;
$c-10-5d636d: #5d636d;
$c-11-9ea4ac: #9ea4ac;

// цвет фона
$bg-1-f2f4fa: #f2f4fa;
$bg-2-fff: #fff;
$bg-3-66a5fe: #66a5fe;
$bg-4-f6f7fc: #f6f7fc;
$bg-5-e8a765: #e8a765;
$bg-6-ff0000: #ff0000;
$bg-7-8ecdf6: #8ecdf6;
$bg-8-0000ff: #0000ff;
$bg-9-fff798: #fff798;
$bg-10-deecff: #deecff;
$bg-11-152336: #152336;
$bg-12-28-0: rgba(28, 28, 28, 0);
$bg-13-0b1e34: #0b1e34;
$bg-14-192336: #192336;
$bg-15-c1c3d0: #c1c3d0;

//Цвет border
$bc-1-fff: #fff;
$bc-2-fffdfd: #fffdfd;
$bc-3-191919: #191919;
$bc-4-060606: #060606;
$bc-5-000: #000;
$bc-6-6fb1c8: #6fb1c8;
$bc-7-f2f4fa: #f2f4fa;
$bc-8-bdbec3: #bdbec3;

//Цвет shadow
$sh-1: #e3ebf1;
$sh-2: #a9c0d4;
 
// bg position
//$bg-pos-1170 = `calc((100% - 1170)/2 + 762`);

